---
layout: default
---

<div id="home">
  <h1>{{ site.title }}</h1>
  <hr />

  <ol class="posts">

      <ul>
          {% for category in site.categories %}
            <li><a name="{{ category | first }}">{{ category | first }}</a>
              <ul>
              {% for post in category.last %}
                <ul><a href="{{ post.url }}">{{ post.title }}</a> &raquo; <i><span>{{ post.date | date_to_string }}</span></i></ul>
              {% endfor %}
              </ul>
            </li>
          {% endfor %}
          </ul>

  </ol>
</div><!-- end #home -->
